.container {
  margin-bottom: 20px;
}

.input {
  border: 0;
  padding: 10px;
  width: 100%;

  &::placeholder {
    color: #999;
    font-weight: 700;
    opacity: 100;
  }
}

.isNotVisible {
  display: none;
}
