@import '../../layout/variables.scss';

.landing {
  height: 100vh;
  background-color: #000;
  background-image: url('./images/background.svg');
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  
  @media (max-width: $breakpoint-tablet) {
    background-size: contain;
  }

  h1 {
    margin-top: 50px;
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 10px;
    font-family: 'Chronicle', serif;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: center;
  }
}

.logo {
  height: 10vh;
}

.text {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    height: 40vh;
  }
}
