@import '../../layout/variables.scss';

.logo {
  display: inline-block;
  font-size: 0;
  background-image: url('./images/dd-logo.png');
  height: 66px;
  width: 145px;
  background-size: cover;
  display: flex;

  @media (max-width: $breakpoint-mobile) {
    height: 43px;
    width: 95px;
  }
}
