@import '../../layout/variables.scss';

.sideBySide {
  display: flex;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  @media (max-width: $breakpoint-tablet) {
    & > * {
      flex: 1;
      margin: 0px 20px;
    }
  }

  & > * {
    flex: 1;
    margin: 0px 40px;
  }
}

.left {
  padding-right: 0px;
}

.right {
  padding-top: 110px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 90px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 20px;
  }
}
