@import '../../layout/variables.scss';

.getInTouch {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: $breakpoint-tablet) {
    h3 {
      font-size: 1rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 40px 0px;
  }
}
