@import '../../layout/variables.scss';

.jobsContainer {
  background: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
}

.positionsContainer {
  h4 {
    margin-bottom: 40px;
    font-size: 16px;
  }

  li {
    font-size: 20px;
  }
}

.positions {
  margin: 0;
  padding: 0;
}

.job {
  display: flex;
  margin-bottom: 20px;
}

.jobTitle {
  display: inline;
}

.apply {
  margin-left: auto;
  border: 0;
  color: #4a4a4a;
  background: none;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  background: #ffffff;
  color: #000000;
  overflow-y: scroll;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.buttonContainer {
  margin-top: 40px;
  text-align: center;
}

.sideBySideOverides {
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.right {
  @media (max-width: $breakpoint-tablet) {
    padding-top: 20px;
  }
}
