.footer {
  background-color: #000;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 150px;

  a {
    color: #fff;
  }
}

.socialLinks {
  display: flex;
  align-items: center;

  a {
    margin-right: 20px;
  }
}